.cart-item-container{
    width: 100%;
    height: 70px;
    display: flex;
    margin-top: 5px;
}
.cart-item-img{
    width: 30%;
    height: 100%;
}
.cart-item-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.cart-item-desc{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.cart-item-desc span{
    text-align: start;
}