.navbar-container{
    width: 100vw;
    height: 60px;
    background-color: rgb(47, 48, 48);


}
.logo{
    font-size: 30px;
    color: rgb(230, 240, 244);
    font-weight: bold;
}
.navbar-content{
    width: 80%;
    display: flex;
    margin: auto;
}
.logo-container{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.navlinks-container{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.navlinks-container ul{
    /* height: 100%; */
    width: 40%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.navlinks-container ul li{
    color: rgb(230, 240, 244);

}
.navlinks-container ul li a{
    font-size: 20px;
    color: rgb(230, 240, 244);
    text-decoration: none;
    transition: 0.2s all ease-in;
}
.navlinks-container ul li a:hover{
    color: rgb(180, 180, 180);
    cursor: pointer;

}

.active{
    color: rgb(10, 72, 96);

}
.cart-bag{
    cursor: pointer;
}
.logo-container a{
    text-decoration: none;
}